<div class="register-form text-center" id="register-position">
      <form (ngSubmit) ="submitForm()" [formGroup]="registerForm">
        <div class="form">
            <div class="title">Registration</div>
            <!-- firstName -->
            <div class="form-floating input-container">
              <input type="text"
                     class="form-control input"
                     id="firstName"
                     placeholder="Name"
                     formControlName= "firstName">
              <label for="firstName">First Name</label>
            </div>
            <!-- lastName -->
            <div class="form-floating input-container">
            <input type="text"
                    class="form-control input"
                    id="lastName"
                    placeholder="Name"
                    formControlName= "lastName">
            <label for="lastName">Last Name</label>
          </div>
            <!-- Email -->
            <div class="form-floating input-container">
              <input type="email"
                     class="form-control"
                     id="email"
                     placeholder="Email"
                     formControlName="email">
              <label for="email">Email</label>
            </div>
            <!-- Password -->
            <div class="form-floating input-container">
              <input type="password"
                     class="form-control"
                     id="pwd"
                     placeholder="Password"
                     formControlName="password">
              <label for="pwd">Password</label>
            </div>
            <!-- Login Redirect -->
            <div class="text-login">
              <p>Already a member? Please <a href='/sign-in'>Sign-in</a></p>
            </div>
            <!-- Submit Form -->
            <button class="btn btn-lg btn-primary submit"
                    type="submit"
                    [disabled]="registerForm.invalid">SIGN-UP
            </button>
        </div>
      </form>
</div>

